.page-id-41 main {
	margin-top: 3rem;
	padding: 2rem 1rem;
	ul {
		margin: 0;
	}

	h2 {
		text-transform: uppercase;
		font-weight: 500;
		font-size: 1.3rem;
		letter-spacing: 1px;
		color: $bcls__purple;
		font-family: 'Poppins', sans-serif;
	}

	h3 {
		font-size: 1.4rem;
	}

	section {
		margin-bottom: 3rem;
	}

	.board-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-wrap: wrap;
		img {
			width: 200px;
			height: 200px;
		}

		font-family: 'Lora', serif;
		font-weight: 700;

		.dir-title {
			font-family: 'Poppins', sans-serif;
			font-style: italic;
			color: $bcls__purple;
			font-weight: 400;
		}
	}
}

@media screen and (min-width: 30em) {
	.page-id-41 main .board-container {
		flex-direction: row;
		gap: 1rem;
		justify-content: center;
	}
}
