.page-id-41 main {
	ul {
		margin: 0;
	}

	h2 {
		text-transform: uppercase;
		font-weight: 500;
		font-size: 1.3rem;
		letter-spacing: 1px;
		color: $bcls__purple;
		font-family: 'Poppins', sans-serif;
	}

	h3 {
		font-weight: 600;
		font-size: 1.4rem;
	}

	h4 {
		font-weight: 600;
		font-size: 1.2rem;
	}

	section {
		margin-bottom: 3rem;
	}

	section.section-about {
		margin-left: 0;
		padding: 0;
		p.cta-wrap {
			display: flex;
			flex-direction: column;
			align-items: center;
			a,
			a:visited {
				color: white;
			}
		}
	}

	section.section-board {
		margin-top: 1.2rem;
	}

	.board-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-wrap: wrap;
		font-family: 'Lora', serif;
		font-weight: 700;

		.director-container {
			width: 170px;
			img {
				width: 170px;
				height: 170px;
			}
			p {
				font-size: 1rem;
			}
		}

		.dir-title {
			font-family: 'Poppins', sans-serif;
			font-style: italic;
			color: $bcls__purple;
			font-weight: 400;
			font-size: 1rem;
		}
	}

	a.button {
		background-color: $bcls__orange;
		&:hover {
			background-color: darken($bcls__orange, 5%);
		}
	}
}

@media screen and (min-width: 30em) {
	.page-id-41 main {
		.board-container {
			flex-direction: row;
			gap: 0.5rem;
			justify-content: center;
			align-items: normal;

			.director-container {
				width: 140px;
				img {
					width: 130px;
					height: 130px;
				}
			}
		}
	}
}

@media screen and (min-width: 55em) {
	.page-id-41 main {
		section {
			h3 {
				font-size: 2rem;
				margin-top: 0.2rem;
			}
		}
	}
}

.about-container {
	display: flex;
}
