.section-attend {
	background-image: url(assets/collaboration.jpg);

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	color: white;
	position: relative;
	padding: 4rem 1rem;
	display: flex;

	.professionals-container {
		display: none;
	}

	&::before {
		content: '';
		background: rgba(190, 98, 27, 0.88);
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
	}

	&-content {
		position: relative;
		z-index: 2;
	}

	h2 {
		font-family: 'Poppins', sans-serif;
		font-weight: 300;
		font-size: 0.85rem;
		text-transform: uppercase;
		position: relative;
		display: inline-block;
		letter-spacing: 1px;
		z-index: 3;
	}

	h3 {
		font-size: 1.5rem;
		position: relative;
		z-index: 3;
	}

	p {
		position: relative;
		z-index: 3;
	}

	.attend-section-text {
		position: relative;

		&:before {
			content: '';
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: -30px;
			width: 100%;
			border-top: 1px solid white;
			z-index: 3;
		}
	}
}

@media screen and (min-width: 61.375em) {
	.section-attend {
		padding: 6rem 2rem;
		gap: 2rem;
		align-items: center;
		justify-content: center;
		.professionals-container {
			display: flex;
			flex-wrap: wrap;
			z-index: 3;
			width: 400px;
			gap: 1rem;
			order: 1;
			img {
				width: 150px;
				height: 150px;
				box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
				filter: grayscale(100%);
			}
		}
		.attend-text {
			order: 2;
			max-width: 570px;
		}
	}
}
