.page-id-242 {
	.deadline {
		font-weight: 600;
		text-align: center;
	}
	p.button {
		text-align: center;
		a {
			background-color: $bcls__purple;
			padding: 0.5rem 1rem;
			border-radius: 0.35rem;
			color: #fff;
			text-decoration: none;
		}
	}
}
iframe {
	width: 100%;
}
