.page-id-130 main {
	margin-top: 3rem;
	padding: 2rem 1rem;

	ul {
		margin: 0;
	}

	h2 {
		text-transform: uppercase;
		font-weight: 500;
		font-size: 1.3rem;
		letter-spacing: 1px;
		color: $bcls__purple;
		font-family: 'Poppins', sans-serif;
	}

	h3 {
		font-size: 1.4rem;
	}

	a {
		background-color: $bcls__purple;
		padding: 0.5rem 1rem;
		border-radius: 0.35rem;
		color: #fff;
		text-decoration: none;
		width: fit-content;
	}

	section {
		margin-bottom: 3rem;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
