.page-id-130 main {
	margin: 3rem 0;
	padding: 2rem 1rem;
	position: relative;
	background-image: url();

	.sponsorship-text {
		z-index: 2;
	}

	ul {
		margin: 0;
	}

	h2 {
		text-transform: uppercase;
		font-weight: 500;
		font-size: 1.3rem;
		letter-spacing: 1px;
		color: $bcls__purple;
		font-family: 'Poppins', sans-serif;
	}

	h3 {
		font-size: 1.4rem;
	}

	a.button {
		background-color: $bcls__purple;
		&:hover {
			background-color: darken($bcls__purple, 5%);
		}
	}

	p.cta-wrap {
		display: flex;
		flex-direction: column;
		align-items: center;

		a,
		a:visited {
			color: white;
		}
	}
}
@media screen and (min-width: 41.875em) {
	.page-id-130 main {
		margin: 5rem 0;
		&::after {
			background-size: 450px;
		}
	}
}

@media screen and (min-width: 55em) {
	.section-sponsorship {
		margin: 3rem 0 1rem;
	}
}
