.section-staytuned {
	padding: 3rem 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	justify-content: center;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
		background-image: url(https://raw.githubusercontent.com/biaoliveira09/bclandsummit/a6766e4fc6d4ea4904a2ba242fd1b103bd117c8d/assets/qqquad-orange_1.webp);
		opacity: 0.9;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	h2 {
		color: $bcls__orange;
	}
	p {
		color: $bcls__purple;
	}

	img {
		width: 120px;
		height: 120px;
		z-index: 2;
	}
}
@media screen and (min-width: 32em) {
	.section-staytuned {
		flex-direction: row;
		gap: 2rem;
		div {
			max-width: 600px;
		}
		img {
			width: 150px;
			height: 150px;
		}
	}
}

.section-spons {
	padding: 2rem 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	// background-color: rgba(88, 66, 154, 0.15);
	color: $bcls__purple;

	.spons-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		h3 {
			color: white;
			background-color: $bcls__purple;
			padding: 0.5rem 1rem;
			font-size: 1.2rem;
			font-weight: 400;
			font-family: 'Poppins', sans-serif;
		}
		.spon-type {
			display: flex;
			flex-wrap: wrap;
			gap: 1rem;
			align-items: center;
			justify-content: center;
			padding: 1rem 0;
			.spon {
				img {
					padding: 1rem;
				}
				.presenting-partner img,
				.endeavour-sponsors img {
					width: 350px;
				}

				.young-anderson-barristers-solicitors {
					padding: 1.2rem 0;
				}

				.conference-sponsors img {
					width: 250px;
				}

				.exhibitors img {
					width: 250px;
				}

				.landscape-forms-inc img {
					width: 180px;
				}
				.apg-canada-west-belgard-canada {
					width: 130px;
				}

				.play-envy {
					width: 195px;
				}
			}
		}
		@media screen and (min-width: 62em) {
			width: 900px;
		}
	}
}
