body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
	position: relative;
	height: 0px !important;
}
.decorative-vertical {
	display: none;
}
@media screen and (min-width: 45em) {
	.decorative-vertical {
		width: 30px;
		height: 100%;
		max-height: 800px;
		display: flex;
		flex-direction: column;
		margin: 0 2rem;
		.green {
			background-color: $bcls__green;
			height: 80px;
		}
		.purple {
			background-color: $bcls__purple;
			height: 80px;
		}
		.violet {
			background-color: $bcls__violet;
			height: 80px;
		}
		.red {
			background-color: $bcls__red;
			height: 80px;
		}
		.orange {
			background-color: $bcls__orange;
			height: 80px;
		}
		.yellow {
			background-color: $bcls__yellow;
			height: 80px;
		}
	}
}

.decorative-line {
	width: 100%;
	max-width: 800px;
	display: flex;
	justify-content: center;
	margin: 2rem 0;
	.green {
		background-color: $bcls__green;
		height: 9px;
		width: 16%;
	}
	.purple {
		background-color: $bcls__purple;
		height: 9px;
		width: 16%;
	}
	.violet {
		background-color: $bcls__violet;
		height: 9px;
		width: 16%;
	}
	.red {
		background-color: $bcls__red;
		height: 9px;
		width: 16%;
	}
	.orange {
		background-color: $bcls__orange;
		height: 9px;
		width: 16%;
	}
	.yellow {
		background-color: $bcls__yellow;
		height: 9px;
		width: 16%;
	}
}
