// button,
// input[type="button"],
// input[type="reset"],
// input[type="submit"] {
// 	border: 1px solid;
// 	border-color: $color__border-button;
// 	border-radius: 3px;
// 	background: $color__background-button;
// 	color: rgba(0, 0, 0, 0.8);
// 	line-height: 1;
// 	padding: 0.6em 1em 0.4em;

// 	&:hover {
// 		border-color: $color__border-button-hover;
// 	}

// 	&:active,
// 	&:focus {
// 		border-color: $color__border-button-focus;
// 	}
// }

.cta,
.register-page-btn {
	background-color: $bcls__orange;
	padding: 0.5rem 1rem;
	border-radius: 0.4rem;
	width: fit-content;
	a {
		color: #fff;
		&:visited {
			color: #fff;
			text-decoration: none;
		}

		&:hover,
		&:focus,
		&:active {
			color: #fff;
		}

		&:focus {
			outline: thin dotted;
		}

		&:hover,
		&:active {
			outline: 0;
		}
	}
}
