.cta,
.register-page-btn {
	background-color: $bcls__orange;
	padding: 0.5rem 1rem;
	border-radius: 0.4rem;
	width: fit-content;
	z-index: 8;
	&:hover {
		background-color: darken($bcls__orange, 5%);
	}
	a {
		color: #fff;
		&:visited {
			color: #fff;
			text-decoration: none;
		}

		&:hover,
		&:focus,
		&:active {
			color: #fff;
		}

		&:focus {
			outline: thin dotted;
		}

		&:hover,
		&:active {
			outline: 0;
		}
	}
}

a.button {
	// background-color: $bcls__purple;
	padding: 0.5rem 1rem;
	border-radius: 0.35rem;
	color: #fff;
	text-decoration: none;
}
